.ControlA {
    border: 1px solid black;
    width: 30%;
    height: 270px;
    position: relative;
    z-index: 10;
    margin-top: 10px;
    margin-left: 20px;
}

.control {
    width: 80px;
    height: 80px;
    background-color: gray;
}

.arriba {
    clip-path: polygon(51% 0, 0 100%, 100% 100%);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 1.2s;
}

.derecha {
    clip-path: polygon(0 0, 0 100%, 100% 53%);
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.abajo {
    clip-path: polygon(0 0, 51% 100%, 100% 0);
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.izquierda {
    clip-path: polygon(0 49%, 100% 100%, 100% 0);
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.control:hover {
    background-color: rgba(6, 21, 228, 0.521);
    border: 1px solid black;
    scale: 1.2;
}