.videoS {
    /* genera un borde con los colores degradados */
    width: 30%;
    border: 1px solid #000;
    border-image: linear-gradient(to right, #000, #fff) 1;
    /* borde redondeado */
    border-radius: 10px;
    /* borde con sombra */
    box-shadow: 0 0 10px #000;
}