.videoS {
    margin-left: 20px;
    margin-top: 10px;
    width: 30%;
    height: 300px;
    border-image: linear-gradient(to right, #000, #fff) 1;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    /* margin-left: 20px;
    margin-top: 20px; */
    display: flex;
}

.videoS img {
    width: 100%;
}